---
interface Props {
  href: string
  src?: string
  alt: string
  classNameImgWidthHeight: string
  classNameA?: string
  srcSet?: string
}

const {
  href,
  src,
  alt,
  classNameImgWidthHeight='',
  classNameA = '',
  srcSet=''
} = Astro.props as Props;
---

<a
  href={href}
  target='_blank'
  rel='noopener noreferrer'
  class={`
    focus-visible:outline-2
    focus-visible:outline-blue-500
    hover:drop-shadow-[0_0_2em_rgba(100,108,255,0.6)]
    focus-visible:drop-shadow-[0_0_2em_rgba(100,108,255,0.6)]
    ${classNameA}
  `}
>
  <img
    src={src}
    srcset={srcSet}
    alt={alt}
    class={`
      transition-shadow
      duration-600
      ease-in-out
      ${classNameImgWidthHeight}
    `}
    loading='lazy'
  />
</a>